version: '3.8'

services:
  backend:
    build:
      context: ./backend/app
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./backend/app:/app # Mount for development, remove in production
    environment:
      FLASK_ENV: development

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./frontend:/app # Mount for development, remove in production
    depends_on:
      - backend

networks:
  default:
    driver: bridge
